[submodule "Assets/Code/deps/EditorAttributes"]
	path = Packages/EditorAttributes
	url = https://github.com/HouraiTeahouse/EditorAttributes
[submodule "Assets/Code/deps/InControl"]
	path = Packages/InControl
	url = https://github.com/HouraiTeahouse/InControl
[submodule "Assets/Code/deps/HouraiCore"]
	path = Packages/HouraiCore
	url = https://github.com/HouraiTeahouse/HouraiCore
[submodule "Assets/Code/deps/HouraiOptions"]
	path = Packages/HouraiOptions
	url = https://github.com/HouraiTeahouse/HouraiOptions
[submodule "Assets/Code/deps/Loadables"]
	path = Packages/Loadables
	url = https://github.com/HouraiTeahouse/Loadables
[submodule "Assets/Code/deps/HouraiConfig"]
	path = Packages/HouraiConfig
	url = https://github.com/HouraiTeahouse/HouraiConfig
[submodule "Assets/Code/deps/HouraiLocalization"]
	path = Packages/HouraiLocalization
	url = https://github.com/HouraiTeahouse/HouraiLocalization.git
[submodule "Assets/Code/deps/LZF"]
	path = Packages/LZF
	url = https://github.com/HouraiTeahouse/LZF.git
[submodule "Assets/Code/deps/discord-rpc-unity"]
	path = Packages/discord-rpc-unity
	url = https://github.com/HouraiTeahouse/discord-rpc-unity.git
