[submodule "Assets/Code/deps/EditorAttributes"]
	path = Assets/Code/deps/EditorAttributes
	url = https://github.com/HouraiTeahouse/EditorAttributes
[submodule "Assets/Code/deps/InControl"]
	path = Assets/Code/deps/InControl
	url = https://github.com/HouraiTeahouse/InControl
[submodule "Assets/Code/deps/HouraiCore"]
	path = Assets/Code/deps/HouraiCore
	url = https://github.com/HouraiTeahouse/HouraiCore
[submodule "Assets/Code/deps/HouraiOptions"]
	path = Assets/Code/deps/HouraiOptions
	url = https://github.com/HouraiTeahouse/HouraiOptions
[submodule "Assets/Code/deps/Loadables"]
	path = Assets/Code/deps/Loadables
	url = https://github.com/HouraiTeahouse/Loadables
[submodule "Assets/Code/deps/HouraiConfig"]
	path = Assets/Code/deps/HouraiConfig
	url = https://github.com/HouraiTeahouse/HouraiConfig
[submodule "Assets/Code/deps/PostProcessing"]
	path = Assets/Code/deps/PostProcessing
	url = https://github.com/Unity-Technologies/PostProcessing
[submodule "Assets/Tools/AssetBundles-Browser"]
	path = Assets/Tools/AssetBundles-Browser
	url = https://github.com/Unity-Technologies/AssetBundles-Browser.git
[submodule "Assets/Code/deps/HouraiLocalization"]
	path = Assets/Code/deps/HouraiLocalization
	url = https://github.com/HouraiTeahouse/HouraiLocalization.git
[submodule "Assets/Code/deps/LZF"]
	path = Assets/Code/deps/LZF
	url = https://github.com/HouraiTeahouse/LZF.git
