[submodule "Assets/Code/deps/Tasks"]
	path = Assets/Code/deps/Tasks
	url = https://github.com/HouraiTeahouse/Tasks
[submodule "Assets/Code/deps/EditorAttributes"]
	path = Assets/Code/deps/EditorAttributes
	url = https://github.com:HouraiTeahouse/EditorAttributes
