[merge]
tool = unityyamlmerge

[mergetool "unityyamlmerge"]
trustExitCode = false
; For Windows 64-bit Editor
cmd = 'C:\Program Files\Unity\Editor\Data\Tools\UnityYAMLMerge.exe' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
; For Windows 32-bit Editor
;cmd = 'C:\Program Files (x86)\Unity\Editor\Data\Tools\UnityYAMLMerge.exe' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
; For Mac OSX
;cmd = '/Applications/Unity/Unity.app/Contents/Tools/UnityYAMLMerge' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
